{% extends "base.html" %}
{% block title %} Afficher Sim {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				SIM à disposition.
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            ID
                        </th>
                        <th class="align-middle">
                            Modele
                        </th>
						<th class="align-middle">
                            Numéro de série
                        </th>
						<th class="align-middle">
                            Date d'achat
                        </th>
						<th class="align-middle">
                            Pin 1
                        </th>
						<th class="align-middle">
                            Pin 2
                        </th>
						<th class="align-middle">
                            Numéro de téléphone
                        </th>
                        <th class="align-middle">

                        </th>
                        <th class="align-middle">

                        </th>
                        <th class="align-middle">

                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.ID_Sim }}
						</td>
						<td class="align-middle">
							{{ row.Modele }}
						</td>
						<td class="align-middle">
							{{ row.numero_de_serie }}
						</td>
						<td class="align-middle">
							{{ row.Date_achat }}
						</td>
						<td class="align-middle">
							{{ row.Pin1 }}
						</td>
						<td class="align-middle">
							{{ row.Pin2 }}
						</td>
						<td class="align-middle">
							{{ row.numero_de_telephone }}
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('sim_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('sim_update_wtf', ID_Sim_btn_edit_html=row.ID_Sim) }}" role="button">Edit</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('sim_delete_wtf', ID_Sim_btn_delete_html=row.ID_Sim) }}" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucune sim.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('sim_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

